.text-responsive {
  font-size: 50px; /* Ajusta el tamaño de fuente base para pantallas anchas */
  vertical-align: center;
}

.description-responsive {
  font-size: 20px;
  text-align: justify;
}

.img-responsive {
  width: 300px;
  height: 450px;
  vertical-align: center;
}



/* Agrega reglas de media queries para ajustar la fuente en pantallas más pequeñas */
@media (max-width: 992px) {
  .img-responsive {
      width: 250px;
      height: 380px;
      vertical-align: center;
  }
}
@media (max-width: 768px) {
  .text-responsive {
    font-size: 40px;
    vertical-align: center;
  }
  .img-responsive {
      width: 250px;
      height: 380px;
      vertical-align: center;
  }
  .description-responsive {
    font-size: 14px;
    text-align: justify;
}
}

@media (max-width: 576px) {
  .text-responsive {
    font-size: 33px;
    vertical-align: center;
  }
  .img-responsive {
      width: 180px;
      height: 250px;
      vertical-align: center;
  }
  .description-responsive {
    font-size: 12px;
    text-align: justify;
}
}