<div class="row text-center" >
    <div class="col-12">
        <h1 class="text-responsive"><strong>Let's talk with me</strong></h1>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-12">
        <p><strong>Email: cfcaicedoca@unal.edu.co</strong></p>
        <p><strong>Phone: +57 3204854630</strong></p>
        <p><strong>Manizales Colombia</strong></p>
    </div>
</div>
<div class="row text-center">
    <div class="col-12" style="font-size: 48px;">
        <a href="https://github.com/Cristianc144" style="cursor: pointer; color: black;"><i class="bi bi-github"></i></a> &nbsp;
        <a href="https://www.linkedin.com/in/cristian-ferney-caicedo-castillo-a68646250?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BIanqtqZIRfKWGnD9Q%2Bcd6A%3D%3D" style="cursor: pointer; color: black;"><i class="bi bi-linkedin"></i></a>
    </div>
    
</div>

