<div class="container">
    <div class="row">
        <h1 style="font-size: 60px;"><strong>My Portfolio</strong></h1>
    </div>
    <br><br>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="5000">
          <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8">
              <h3>{{repositorio3.name}}</h3>
              <p><strong>{{repositorio3.description}}</strong></p>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <a href="https://github.com/Cristianc144/Mokepon-game"><img src="../../assets/CapturaMokepon.PNG" class="d-block w-100" alt="First slide" style="height: 500px; border-radius: 30px;"></a>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8">
              <h3>{{repositorio1.name}}</h3>
              <p><strong>{{repositorio1.description}}</strong></p>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <a href="https://github.com/Cristianc144/Sistema-almacenamiento-Registros"><img src="../../assets/CapturaRegistros.PNG" class="d-block w-100" alt="Second slide" style=" height: 500px; border-radius: 30px;"></a>
            </div>
            <div class="col-2"></div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
          <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8">
              <h3>{{repositorio2.name}}</h3>
              <p><strong>{{repositorio2.description}}</strong></p>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <a href="https://github.com/Cristianc144/Paginaventas-JavaScript-cursoPlatzi"><img src="../../assets/CapturaVentas.PNG" class="d-block w-100" alt="Third slide" style="height: 500px; border-radius: 30px;"></a>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
</div>
