<div style="background: linear-gradient(to right, #156696, #20db9d);">
  <div class="container">
    <div class="row">
    <div class="col-12 mt-3 pt-3" data-aos="fade-up"><app-barra-superior></app-barra-superior></div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 pt-3" data-aos="flip-up"><app-home id="home"></app-home></div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 pt-3" data-aos="fade-down"><app-about id="about"></app-about></div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 pt-3" data-aos="flip-right"><app-skills id="skills"></app-skills></div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-12 mt-3 pt-3" data-aos="fade-up-left"><app-portfolio id="portfolio"></app-portfolio></div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-12 mt-3 pt-3" data-aos="zoom-out-right"><app-contact id="contact"></app-contact></div>
    </div>
  </div>
  <br><br>
</div>
