<div class="container">
    <div class="row mt-3 pt-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3 pt-3">
            <h1 class="text-center text-responsive"><strong>Cristian Ferney Caicedo Castillo</strong></h1>
        </div>
        <div class="col-2"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center">
            <img src="../../assets/Foto_cris.jpg" class="img-responsive" alt="Responsive image" style="border-radius: 30px;">
        </div>
    </div>
</div>
